* {
    box-sizing: border-box;
}
:root{
    --color-fondo: rgb(49, 58, 115);
    --color-texto-header:#fff;
    --color-fondo-footer: #bdbcbc;
    --color-hover-menu: #468a45;
    --color-redes :#035715;

}
body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    width: 100%;
    height: auto;
}
header{
    background-color: var(--color-fondo);
    height: 70px;
    }


.login{
    width: 40%;
    height: 60px;
    float: right ;
    color: var(--color-texto-header);
    font-size: .8rem;
}
table{
    width: 33%;
}
.login input{
    width: 15%;
    height: 40%;
    float: left;
    display: block;
    position: relative;
    color: #254bc7;
}

table.t1, table.t2 th{
    margin-top: 10px;
    float: left;
    text-align: left;
}

table.t1 td{
    
        border: 1px solid rgb(190,190,190);
        padding: 10px 90px;
        background-color: #fff;
} table.t2 td {
    border: 1px solid rgb(190,190,190);
    padding: 10px 90px;
    background-color: #fff;
    
}

.img{
    margin: 35px ;
    padding: 15px ;
    height: 30px;
    width: 20%;
    margin-left: 90px;
}
#section{
    background-color: aliceblue;

}
 .banner1{
    border: 1px solid var(--color-redes);
    width: 51%;
    height: 400px;
    float: left;
    background-color: aliceblue;
    text-align: center;
 }
 .banner1 p{
    font-size: 1.5rem;
    font: bold;
    color: var(--color-fondo);
    text-align: center;
 }
 .banner1 img{
    height: 45%;
    display: block;
    margin-left: 100px;
 }
 .formRegistrarte{
    border: 1px solid var(--color-fondo);
    width: 49%;
    height: 400px;
    float:right;
    background-color: aliceblue;
 }
 .ft{
    color: #254bc7;
    float: left;
    width: 100%;
    height: 100px;
 }

 

